@import 'normalize';


$darkGray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$veryDarkGray: hsl(0, 0%, 27%);
$basicFontSize: 12px;
$basicFontFamily: 'Spartan', sans-serif;
$basicFontWeight: 500;

* {
  box-sizing: border-box;
}

body {
  font-family: $basicFontFamily;
  font-size: $basicFontSize;
  width: 100vw;
  height: 100vh;
  font-weight: $basicFontWeight;
}

p {
  color: $darkGray;
  line-height: 1.7;
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'main-picture' 'main-article' 'left-picture' 'secondary-article' 'right-picture';
  position: relative;
  width: 100vw;
  height: 100vh;
}

img[alt='slide-picture'] {
  display: none;
}

img[alt='slide-picture-mobile'],
img[alt='menu'] {
  display: block;
}

nav {
  padding: 15% 7%;
  position: absolute;
  color: $white;
  width: 100%;
  z-index: 1;

  img:nth-child(1) {
    float: left;
  }

  img:nth-child(2) {
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

  img:nth-child(3) {
    display: none;
  }

  ul {
    display: none;
    padding-left: 20px;

    li {
      list-style: none;
      display: inline-block;
      font-weight: 600;
      margin: 0 15px;
    }
  }
}

.active {
  display: flex;
  background-color: white;
  color: black;
  padding: 10% 7%;
  align-items: center;

  img:nth-child(1),
  img:nth-child(2) {
    display: none;
  }

  img:nth-child(3) {
    display: block;
  }

  ul {
    display: block;
  }
}

.main-section {
  grid-area: main-picture;
  position: relative;


  .slideshow-container {
    width: 100%;
    height: 100%;

    .slide-pictures{
      width: 100%;
      height: 100%;

    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;

    button {
      background-color: $black;
      border: none;
      width: 60px;
      height: 60px;

      img {
        margin: 0 auto;
      }
    }
  }

}

.main-article {
  grid-area: main-article;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  article {
    margin: 15% 10% 18%;

    h1 {
      font-size: $basicFontSize * 2.3;
      font-weight: $basicFontWeight + 100;
      margin: 0.6em 0;
    }

    p {
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
      color: $black;
      text-transform: uppercase;
      letter-spacing: $basicFontSize;
      margin-right: 20px;
    }
  }

  .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inherit;

    button {
      background-color: $black;
      border: none;
      width: 60px;
      height: 60px;

      img {
        margin: 0 auto;
      }
    }
  }
}

.left-image {
  grid-area: left-picture;

  img {
    width: 100%;
    height: 100%;
  }
}

.secondary-article {
  grid-area: secondary-article;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    padding: 13% 8%;

    h1 {
      text-transform: uppercase;
      font-size: $basicFontSize;
      letter-spacing: 5px;
    }
  }
}

.right-image {
  grid-area: right-picture;

  img {
    width: 100%;
    height: 100%;
  }
}


@media only screen and (min-width: 550px) {

  nav {
    display: flex;
    align-items: center;
    padding: 10%;

    img:nth-child(1) {
      display: none;
    }

    img:nth-child(2) {
      margin: unset;
      transform: unset;
    }

    ul {
      display: block;
      padding-left: 40px;
    }
  }

  .main-section {
    img:nth-child(1) {
      display: block;
    }

    img:nth-child(2) {
      display: none;
    }
  }
}

@media only screen and (min-width: 992px) {

  body {
    overflow: hidden;
  }

  .page {
    grid-template-columns: repeat(2, 1fr) 160px 30.5%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'main-picture main-picture main-article main-article' 'main-picture main-picture main-article main-article' 'left-picture secondary-article secondary-article right-picture';
  }

  nav {
    margin: 5%;
    width: 50%;
    padding: unset;
  }

  .main-article {

    .buttons {
      left: 0;
      display: inherit;

      button {
        width: 80px;
        height: 60px;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {


  nav {
    display: flex;
    align-items: center;
    margin: 4%;

    img:nth-child(1) {
      display: none;
    }

    img:nth-child(2) {
      margin: unset;
      transform: unset;
    }

    ul {
      display: block;
      padding-left: 40px;
    }
  }

  .main-article {

    article {
      margin: 0 15% 10%;

      h1 {
        font-size: $basicFontSize * 3.3;
      }
    }

    .buttons {

      button {
        height: 80px;
      }
    }
  }

  .secondary-article {
    article {
      padding: 0 35px;
    }
  }
}
